/* Root Variables for Color and Sizing */
/* For cross-browser compatibility */
::selection {
    background-color: var(--accent-color);
    color: white;
}

::-moz-selection {
    /* For Firefox */
    background-color: var(--accent-color);
    color: white;
}

:root {
    --main-bg-color: #f3f3f3;
    --accent-color: #ff4500;
    --secondary-accent: #ff6026;
    --card-bg-color: #ffe7de;
    --box-shadow: 0px 8px 15px #0000001a;
    --card-box-shadow: 0 10px 15px 0 #00000033;
    --border-radius: 10px;
    --transition-speed: 0.5s;
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    background-image: linear-gradient(0deg, transparent 24%, #E1E1E1 25%, #E1E1E1 26%, transparent 27%, transparent 74%, #E1E1E1 75%, #E1E1E1 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, #d5d5d5 25%, #E1E1E1 26%, transparent 27%, transparent 74%, #E1E1E1 75%, #E1E1E1 76%, transparent 77%, transparent);
    background-size: 80px 80px;
    padding: 20px;
}

/* Container */
.containers {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 40px;
    max-width: 600px;
    text-align: center;
    width: 100%;
}

h1 {
    color: var(--accent-color);
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Input Field */
.input {
    border: 2px solid transparent;
    width: 90%;
    margin: 0 auto;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    background-color: #FFEDE5;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    transition: all var(--transition-speed);
}

.input:hover,
.input:focus {
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 0px 7px rgba(255, 69, 0, 0.2);
    background-color: white;
}

/* Button Styles */
.btn-primary,
.btn-download {
    background-color: var(--accent-color);
    color: white;
    border-radius: 10em;
    font-size: 15px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 10px 5px;
    box-shadow: var(--box-shadow);
}

.btn-primary:hover,
.btn-download:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.2);
}

/* Use-Case Card Styles */
.use-cases {
    /* margin: 10px; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    /* perspective: 1000px; */
    width: 50%;
    height: auto;
    max-width: 400px;
    /* padding: 10px; */
    margin-top: 10px;
}

.flip-card-inner {
    position: relative;
    /* width: 100%; */
    height: 300px;
    padding-top: 15px;
    transition: transform 1.0s ease-in;
    transform-style: preserve-3d;
    text-align: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: var(--card-box-shadow);
    padding: 20px;
    transition: transform var(--transition-speed);
}

.flip-card-front {
    background: linear-gradient(120deg, #ffd1c1 60%, var(--card-bg-color) 88%, #b73708 40%, #ff44009f 40%);
    color: var(--secondary-accent);
}

.flip-card-back {
    background: linear-gradient(120deg, #ffae91 30%, var(--accent-color) 88%, bisque 40%, #ffb9a0 78%);
    color: white;
    transform: rotateY(180deg);
}


/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    .btn-primary,
    .btn-download {
        padding: 0.8em 1.5em;
        font-size: 15px;
    }

    .flip-card {
        max-width: 300px;
        width: 350px;
        padding: 10px;
    }
    
}

@media (max-width: 480px) {
    .use-cases {
        /* margin: 20px; */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* gap: 20px; */
        /* justify-content: center; */
        /* align-items: center; */
        /* place-items: center; */
    }

    .flip-card {
        max-width: 210px;
        justify-self: center;
    }

    .flip-card-inner {
        height: 260px;
        /* width: 200px; */
    }

    h1 {
        font-size: 1.7em;
    }

    .btn-primary,
    .btn-download {
        padding: 0.6em 1em;
        font-size: 14px;
    }
}